html{
  height: 100%;
  width:100%;
}


body{
  color:#FFF;
  background:#1b1b1b;
}

.generate {
  position: relative;
  margin: 0 auto;
  background-color: transparent;
  border:solid;
  border-color:#78FFCD;
  color: #78FFCD;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
}

.generateAlbum {
  position: relative;
  margin: 0 auto;
  background-color: transparent;
  border:solid;
  border-radius: 50%;
  height:100px;
  border-color:#78FFCD;
  color: #78FFCD;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
  transition: transform .2s; /* Animation */
}


.generateAlbum:hover{
  z-index:1;
  transform: scale(2);
}
.tweet {
  position: relative;
  margin: 0 auto;
  background-color: transparent;
  border:solid;
  border-color:#00aced;
  border-radius:15px;
  color: #00aced;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.tweet:focus {
  outline: none;
}

#bg {
  position:fixed;
  background-size:cover;
  background-image:url("https://media2.giphy.com/media/ysHAImoZYdjRC/giphy.gif");
  opacity:.5;
  -webkit-filter:blur(5px);
  -o-filter:blur(5px);
  -moz-filter:blur(5px);
  -ms-filter:blur(5px);
  filter:blur(5px);
  display:block;
  z-index: -1;
  position:absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
}


#content{
  position:fixed;
  left:0;
  right:0;
  z-index: 0;
  height:10em;
  min-height: 100%;
  overflow: auto;
}
.button_wrapper {
  text-align:center;
  padding-bottom: 50px;
}
#info {
  font-size: 36px;
  text-align:left;
}
#pick_title {
  text-align: center;
  color: #F0F8FF;
  font-family: 'Century Gothic';
  font-size: 72px;
  font-weight: 400;
}

.tweet:hover {
  background-color:#00aced;
  color:white;
  
}
button:active{
  border-color: white;
}
#displayLyric {
  color: #F0F8FF;
  font-family: 'Sans serif', serif;
  font-size: 36px;
  font-weight:400;
  font-style: italic;
  line-height: 44px;
  /*padding-top: 5px;*/
  margin: 0 auto;
  text-align:center;
  position:relative;
  /*top:50%;
  left:50%;
  margin-bottom: -40px;
  margin-right: -50%;
  transform:translate(-50%,-50%)*/
}
footer {
  height:50px;
  bottom:0;
  position:relative;
  opacity: .5;
}
#displayBox{
  padding-bottom:50px;
  text-align: center;
}
#displaySong{
  opacity:.5;
  text-align:center;
}
#intro {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
  text-align: center;
}
#displayArtist{
  opacity:.5;
  text-align:center;
}

#foot{
  position:absolute;
   bottom:0;
   width:100%;
}
